#3d-model-viewer
{
height: 350%;
width: 350%;
background-color: aqua;
border: dotted;
}

#3d-model-viewer model-viewer
{
    height: 200%;
    width: 200%;
    background-color: aqua;
    border: dotted;
  
}